@model Project1.WebUi.Models.ViewModels.OrderForm

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="customer">Customer</label>
        <select name="CustomerId" class='form-control' id="customer" required>
            <option value=""></option>
            @foreach (Customer customer in Model.CustomerList)
            {
                <option value="@customer.Id">
                    @Html.DisplayFor(m => customer.FirstName) @Html.DisplayFor(m => customer.LastName)
                </option>
            }
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="address">Address</label>
        <select name="AddressId" class='form-control' id="address" required></select>
        <span asp-validation-for="AddressId" class="text-danger"></span>
        <div class="text-danger" id="ErrorAddress"></div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" readonly/>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Value" class="control-label"></label>
        <input asp-for="Value" class="form-control" readonly/>
        <span asp-validation-for="Value" class="text-danger" id="ErrorValue"></span>
    </div>
    <div class="col-md-12 my-3">
        <h2>Pizzas</h2>
    </div>
    <div class="col-md-12">
        <div class="text-danger" id="ErrorPizzas"></div>
        @Html.ValidationMessage("ErrorPizzas")
    </div>
    <div class="col-md-12">
        <div class="row">
            @foreach (Pizza pizza in Model.PizzasList)
            {
                <text>
                    <div class="form-group col-md-4">
                        <label for="pizza_@pizza.Id" class="control-label">
                            @pizza.Name - $ @pizza.Price.ToString("0.00")
                        </label>
                        <input type="number" min='0' max='12' name="pizzas" id="pizza_@pizza.Id" class="pizzaQuantity form-control" value="0" data-price="@pizza.Price"/>
                    </div>
                </text>
            }
        </div>
    </div>
    <div class="col-md-12 text-center mt-3">
        <button type="submit" class="btn btn-success">
            <i class="far fa-save mr-1"></i> Save
        </button>
    </div>
</div>